            <li class="descrizione regione piemonte" data-id="2000" data-nome="0" title="Piemonte">
                <div class="contatore contatore-main">
                    <div class="prev"></div>
                    <div class="next"></div>
                </div>

            <li class="descrizione" data-id="2001" data-nome="Jos&eacute; Castelli" title="Jos&eacute; Castelli">
                <div class="titolo">
                    <h2 class="nome">Jos&eacute; Castellie</h2>
                    <span class="eta">72</span>, <span class="comune">Torino</span>
                </div>
                <div class="image">
                    <img src="assets/img/castelli.jpg" alt="José Castelli">
                </div>
                <p class="testo">&laquo;Mola mia!&raquo; non mollare, ripeteva ai suoi allievi sugli sci, lungo una discesa innevata o sulle acque del lago di Iseo. A Sarnico, ma anche sulle piste del Tonale e di Montecampione, Jos&eacute; Castelli, 83 anni, era uno storico maestro delle nevi (e delle acque) con il quale tre generazioni di sportivi si sono fatti muscoli, ossa e, in qualche caso, blasonati titoli sportivi. Sabato sera, per&ograve;, Jos&egrave; Castelli ha dovuto cedere al Covid-19, nel reparto di terapia intensiva dell&rsquo;ospedale Bolognini di Seriate. Le sue condizioni di salute erano gi&agrave; fragili e il suo &laquo;mola mia!&raquo; non risuonava pi&ugrave; da almeno dieci anni nelle orecchie dei suoi allievi. Ma le soddisfazioni non gli sono mancate: Laura, sua figlia, &egrave; stata negli anni 90 campionessa europea di sci nautico e medaglia d&rsquo;argento ai mondiali del 1996.</p>
                <div class="contatore contatore-main">
                    <div class="prev"></div>
                    <div class="next"></div>
                </div>

            <li class="descrizione" data-id="2002" data-nome="Mago Montty" title="Mago Montty">
                <div class="titolo">
                    <h2 class="nome">Mago Monty</h2>
                    <span class="eta">88</span>, <span class="comune">Pinerolo</span>
                </div>
                <div class="image">
                    <img src="assets/img/montty.jpg" alt="Mago Montty">
                </div>
                <p class="testo">&laquo;Mola mia!&raquo; non mollare, ripeteva ai suoi allievi sugli sci, lungo una discesa innevata o sulle acque del lago di Iseo. A Sarnico, ma anche sulle piste del Tonale e di Montecampione, Jos&eacute; Castelli, 83 anni, era uno storico maestro delle nevi (e delle acque) con il quale tre generazioni di sportivi si sono fatti muscoli, ossa e, in qualche caso, blasonati titoli sportivi. Sabato sera, per&ograve;, Jos&egrave; Castelli ha dovuto cedere al Covid-19, nel reparto di terapia intensiva dell&rsquo;ospedale Bolognini di Seriate. Le sue condizioni di salute erano gi&agrave; fragili e il suo &laquo;mola mia!&raquo; non risuonava pi&ugrave; da almeno dieci anni nelle orecchie dei suoi allievi. Ma le soddisfazioni non gli sono mancate: Laura, sua figlia, &egrave; stata negli anni 90 campionessa europea di sci nautico e medaglia d&rsquo;argento ai mondiali del 1996.</p>
                <div class="contatore contatore-main">
                    <div class="prev"></div>
                     <div class="next"></div>
                </div>