            <li class="descrizione regione lombardia" data-id="3000" title="Lombardia">
                <div class="contatore contatore-main">
                    <div class="prev"></div>
                    <div class="next"></div>
                </div>

            <li class="descrizione" data-id="3001" data-nome="Teresa Filippini" title="Teresa Filippini">
                <div class="titolo">
                    <h2 class="nome">Teresa Filippini</h2>
                    <span class="eta">58</span>, <span class="comune">Milano</span>
                </div>
                <div class="image">
                    <img src="assets/img/filippini.jpg" alt="Teresa Filippini"> 
                </div>
                <p class="testo">Se n&rsquo;&egrave; andata mamma Teresa, una delle tifose pi&ugrave; note dei campi di serie A e B nelle sette stagioni durante le quali i suoi figli gemelli, Antonio ed Emanuele Filippini, oggi 46enni, giocavano nel Brescia, da mezz&rsquo;ala sinistra e da ala destra. Separati dalle rispettive carriere di allenatori - Emanuele &egrave; il tecnico della Nazionale under 17 e Antonio del Livorno - sognano una sfida tra panchine un giorno in Serie A, ma all&rsquo;appuntamento mancher&agrave; la loro sostenitrice pi&ugrave; imparziale: &laquo;Ciao mamma. mi hai insegnato tanto&raquo; l&rsquo;ha salutata Emanuele. Terry Filippini, 74 anni, era stata un&rsquo;inviata sul campo di Simona Ventura, ai tempi di &laquo;Quelli che il calcio&raquo;: &laquo;Cara Terry che grande dispiacere - ha twittato la conduttrice -. Sarai sempre una persona eccezionale. Un abbraccio ai tuoi gioielli&raquo;.</p>
                <div class="contatore contatore-main">
                    <div class="prev"></div>
                    <div class="next"></div>
                </div>

            <li class="descrizione" data-id="3002" data-nome="John Prine" title="John Prine">
                <div class="titolo">
                    <h2 class="nome">John Prine</h2>
                    <span class="eta">72</span>, <span class="comune">Bergamo</span>
                </div>
                <div class="image">
                    <img src="assets/img/prine.jpg" alt="John Prine">   
                </div>
                <p class="testo">Mentre Joan Baez, per fargli coraggio gli dedicava via Youtube una delle canzoni pi&ugrave; struggenti del suo repertorio, <em>Hello in There</em>, John Prine, in un ospedale di Nashville, stava perdendo il suo duello con il coronavirus. Il brano, fra i pi&ugrave; noti del celebrato cantautore folk americano, non &egrave; stato scelto a caso. Parla della tristezza di una coppia anziana dopo la partenza dei figli, uno dei quali morto nella guerra di Corea. &laquo;Le persone invecchiando diventano sole, aspettando qualcuno che dica ehil&agrave;, ciao!&raquo; aveva scritto il musicista, empatico fin da ragazzo con le tribolazioni della terza et&agrave;. Aveva iniziato la sua carriera 50 anni fa, dai club di Chicago alle platee di tutto il mondo, dall&rsquo;Australia a Londra e Parigi. Raro privilegio di questi tempi, la moglie Fiona ha potuto restargli accanto nelle ultime ore.</p>
                <div class="contatore contatore-main">
                    <div class="prev"></div>
                    <div class="next"></div>
                </div>