<section class="copertina">
    
    <div class="titoli">
	
	<!--#include virtual="testata.html"-->
    <!--#include virtual="social.inc"-->	

	      <h1>Addii: chi sono i morti per coronavirus in Italia </h1>
	      <h3>Chi mancher&agrave; all&rsquo;appello, quando davvero &laquo;tutto questo sar&agrave; finito&raquo;? Quando si riapriranno porte e portoni, quando si riempiranno (prudentemente, certo) le strade, i mezzi pubblici, le aule scolastiche, i bar, magari i teatri e i cinema, le piste da sci, gli stadi e gli studi televisivi, non sar&agrave; solamente il distanziamento sociale a evidenziare i vuoti lasciati dal passaggio dell&rsquo;uragano Covid-19. Le assenze inattese saranno tante. Mancheranno volti noti o familiari. E alla fine sar&agrave; dura accettare che un cieco sciame di virus se li sia portati via per sempre.</h3>
	      <p class="autore">
	      	a cura di Elisabetta Rosaspina 
	      </p>
	      <p class="data">mercoled&igrave; 22 aprile 2020 </p>
	      <p class="firme">con i testi di <em></em> </p>

	      <ul>
	      	<li>
	      		<p><a href="">Brusaferro, relazione alla Camera: i dati fanno prevedere una seconda ondata</a></p>
	      		<span>di Aldo Cazzullo</span>
	      	<li>
	      		<p><a href="">Brusaferro, relazione alla Camera: i dati fanno prevedere una seconda ondata</a></p>
	      		<span>di Aldo Cazzullo</span>
	      </ul>

	<br class="clearfix"> 

	</div> 
</section>
