
<section class="lista" id="listaVoci">
    
    <div class="filtro">

        <select id="filter_sesso">
            <option value='all' selected="selected">Sesso</option>
            <option value="m">Uomini</option>
            <option value="f">Donne</option>
            <option value='all'>Tutti</option>
        </select>
        <select id="filter_regione">
            <option value='all' selected="selected">Regione</option>
            <option value="lombardia">Lombardia</option>
            <option value="piemonte">Piemonte</option>
            <option value="lazio">Lazio</option>
            <option value='all'>Tutti</option>
        </select>
        <div>
            <label for="search">Filtra la ricerca</label>
            <input class="search" name="search" placeholder="Cerca per nome..."/>
        </div>
               
    </div>

    <ul class="list">

        <!--#include virtual="voce_regione_lombardia.html"-->
        <!--#include virtual="voce_regione_valle-d-aosta.html"-->
        <!--#include virtual="voce_regione_piemonte.html"-->
        <!--#include virtual="voce_regione_trentino-alto-adige.html"-->
        <!--#include virtual="voce_regione_veneto.html"-->
        <!--#include virtual="voce_regione_friuli-venezia-giulia.html"-->
        <!--#include virtual="voce_regione_liguria.html"-->
        <!--#include virtual="voce_regione_emilia-romagna.html"-->
        <!--#include virtual="voce_regione_toscana.html"-->
        <!--#include virtual="voce_regione_umbria.html"-->
        <!--#include virtual="voce_regione_marche.html"-->
        <!--#include virtual="voce_regione_lazio.html"-->
        <!--#include virtual="voce_regione_abruzzo.html"-->
        <!--#include virtual="voce_regione_molise.html"-->
        <!--#include virtual="voce_regione_campania.html"-->
        <!--#include virtual="voce_regione_basilicata.html"-->
        <!--#include virtual="voce_regione_puglia.html"-->
        <!--#include virtual="voce_regione_calabria.html"-->
        <!--#include virtual="voce_regione_sicilia.html"-->
        <!--#include virtual="voce_regione_sardegna.html"-->

    </ul>
</section>

<section class="full">

    <div class="description" id="long_desc">
    <span class="close"></span>    
    <div class="messages"></div>

        <div class="contatore top">
            <div class="prev"><</div>
            <p><strong>1</strong> di 666</p>
            <div class="next">></div>
        </div>
        <ul class="vociList">
            
        <!--#include virtual="desc_regione_valle-d-aosta.html"-->
        <!--#include virtual="desc_regione_lombardia.html"-->
        <!--#include virtual="desc_regione_piemonte.html"-->
        <!--#include virtual="desc_regione_trentino-alto-adige.html"-->
        <!--#include virtual="desc_regione_veneto.html"-->
        <!--#include virtual="desc_regione_friuli-venezia-giulia.html"-->
        <!--#include virtual="desc_regione_liguria.html"-->
        <!--#include virtual="desc_regione_emilia-romagna.html"-->
        <!--#include virtual="desc_regione_toscana.html"-->
        <!--#include virtual="desc_regione_umbria.html"-->
        <!--#include virtual="desc_regione_marche.html"-->
        <!--#include virtual="desc_regione_lazio.html"-->
        <!--#include virtual="desc_regione_abruzzo.html"-->
        <!--#include virtual="desc_regione_molise.html"-->
        <!--#include virtual="desc_regione_campania.html"-->
        <!--#include virtual="desc_regione_basilicata.html"-->
        <!--#include virtual="desc_regione_puglia.html"-->
        <!--#include virtual="desc_regione_calabria.html"-->
        <!--#include virtual="desc_regione_sicilia.html"-->
        <!--#include virtual="desc_regione_sardegna.html"-->
        </ul>

        <div class="contatore down">
            <div class="prev"><</div>
            <p><strong>1</strong> di 666</p>
            <div class="next">></div>
        </div>
         
    </div>

</section>

