<section class="credit">
    
    
    <p>
        <strong>A cura di:</strong> Maria Serena Natale <br/>
    </p>
    <p>
        <strong>Testi:</strong> Elisabetta Rosaspina <br/>
    </p>
    <p>
        <strong>Sviluppo grafico:</strong> Grafici Corriere Online <br/>
    </p>
        
    

   
</section>