   
	<title>Morti in Italia per Coronavirus: chi sono | Addii - Corriere.it</title>
    <meta name="title" content="Morti in Italia per Coronavirus: chi sono | Addii - Corriere.it">
    <meta name="description" content="Chi sono i morti in Italia per Coronavirus? Non solo medici e anziani, il ritratto di Corriere delle vittime di Covid-19 nello speciale &quot;Addii&quot;">
    
    <meta property="fb:app_id" content="203568503078644"/>
    <meta property="og:title" content="Morti in Italia per Coronavirus: chi sono | Addii"/>
    <meta property="og:type" content="article"/>
    <meta property="og:locale" content="it_IT"/>
    <meta property="og:url" itemprop="url" content="https://www.corriere.it/speciale/cronache/2020/addii-coronavirus-morti-italia-chi-sono/"/>
    <meta property="og:image" content="https://www.corriere.it/speciale/cronache/2020/addii-coronavirus-morti-italia-chi-sono/assets/img/social.png"/>
    <meta property="og:site_name" content="Corriere della Sera"/>
    <meta property="og:description" content="Chi sono i morti in Italia per Coronavirus? Non solo medici e anziani, il ritratto di Corriere delle vittime di Covid-19 nello speciale &quot;Addii&quot;"/>
    <meta name="author" content="Elisabetta Rosaspina"/>

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@Corriereit">
    <meta name="twitter:creator" content="Elisabetta Rosaspina">
    <meta name="twitter:title" content="Morti in Italia per Coronavirus: chi sono | Addii">
    <meta name="twitter:description" content="Chi sono i morti in Italia per Coronavirus? Non solo medici e anziani, il ritratto di Corriere delle vittime di Covid-19 nello speciale &quot;Addii&quot;">
    <meta name="twitter:image" content="https://www.corriere.it/speciale/cronache/2020/addii-coronavirus-morti-italia-chi-sono/assets/img/social.png">

    <link rel="canonical" href="https://www.corriere.it/speciale/cronache/2020/addii-coronavirus-morti-italia-chi-sono/"/>

    
