        <li class="voce voce-2000 regione piemonte" data-id="2000" data-nome="" data-sesso="mf" data-regione="piemonte" data-eta="" data-comune="">

        <li class="voce voce-2001" data-id="2001" data-nome="José Castelli" data-sesso="m" data-regione="piemonte" data-eta="76" data-comune="torino">
            <div class="voce-image" title="Jos&eacute; Castelli">
                <img src="assets/img/castelli.jpg" alt="Jos&eacute; Castelli" />
            </div>
            <div class="voce-text">
                <h2 class="voce-nome">Jos&eacute; Castelli</h2>
                <span class="voce-eta">72</span>, <span class="voce-comune">Torino</span>
            </div>

        <li class="voce voce-2002" data-id="2002" data-nome="Mago Montty" data-sesso="m" data-regione="piemonte" data-eta="88" data-comune="pinerolo">
            <div class="voce-image" title="Mago Montty">
                <img src="assets/img/montty.jpg" alt="Mago Montty" />
            </div>
            <div class="voce-text">
                <h2 class="voce-nome">Mago Montty</h2>
                <span class="voce-eta">88</span>, <span class="voce-comune">Pinerolo</span>
            </div>