        <li class="voce voce-3000 regione lombardia" data-id="3000" data-nome="" data-sesso="mf" data-regione="lombardia" data-eta="" data-comune="">

        <li class="voce voce-3001" data-id="3001" data-nome="Teresa Filippini" data-sesso="f" data-regione="lombardia" data-eta="58" data-comune="milano">
            <div class="voce-image" title="Teresa Filippini">
                <img src="assets/img/filippini.jpg" alt="Teresa Filippini" />
            </div>
            <div class="voce-text">
                <h2 class="voce-nome">Teresa Filippini</h2>
                <span class="voce-eta">58</span>, <span class="voce-comune">Milano</span>
            </div>

        <li class="voce voce-3002" data-id="3002" data-nome="John Prine" data-sesso="m" data-regione="lombardia" data-eta="72" data-comune="bergamo">
            <div class="voce-image" title="John Prine">
                <img src="assets/img/prine.jpg" alt="John Prine" />
            </div>
            <div class="voce-text">
                <h2 class="voce-nome">John Prine</h2>
                <span class="voce-eta">72</span>, <span class="voce-comune">Bergamo</span>
            </div>
