        <li class="voce voce-10000 regione lazio" data-id="10000" data-nome="" data-sesso="mf" data-regione="lazio" data-eta="" data-comune="">

        <li class="voce voce-10003" data-id="10001" data-nome="Fabio Brotto" data-sesso="m" data-regione="lazio" data-eta="65" data-comune="roma">
            <div class="voce-image" title="Fabio Brotto">
                <img src="assets/img/brotto.jpg" alt="Fabio Brotto" />
            </div>
            <div class="voce-text">
                <h2 class="voce-nome">Fabio Brotto</h2>
                <span class="voce-eta">65</span>, <span class="voce-comune">Roma</span>
            </div>