<header>
	<a href="https://www.corriere.it" class="logo" title="corriere.it">
		<img src="https://images2.corriereobjects.it/speciale/cronache/2020/addii-morti-coronavirus-italia/assets/img/logo.svg" alt="corriere.it">
	</a>
	<a href="https://www.corriere.it" class="logomob" title="corriere.it">
		<img src="https://images2.corriereobjects.it/speciale/cronache/2020/addii-morti-coronavirus-italia/assets/img/corrierelogo.svg" alt="corriere.it">
	</a>
	<!--#include virtual="inmemoria.inc"-->
	<!--#include virtual="social.inc"-->
</header>