
<section class="lista" id="listaVoci">
    
    <div class="filtro">

        <select id="filter_sesso">
            <option value='all' selected="selected">Sesso</option>
            <option value="m">Uomini</option>
            <option value="f">Donne</option>
            <option value='all'>Tutti</option>
        </select>
        <select id="filter_regione">
            <option value='all' selected="selected">Regione</option>
            <option value="lombardia">Lombardia</option>
            <option value="piemonte">Piemonte</option>
            <option value="lazio">Lazio</option>
            <option value='all'>Tutti</option>
        </select>
        <div>
            <label for="search">Filtra la ricerca</label>
            <input class="search" name="search" placeholder="Cerca per nome..."/>
        </div>
               
    </div>

    <ul class="list">
        
        <li class="voce voce-3000 regione lombardia" data-id="3000" data-nome="" data-sesso="mf" data-regione="lombardia" data-eta="" data-comune="">

        <li class="voce voce-3001" data-id="3001" data-nome="Teresa Filippini" data-sesso="f" data-regione="lombardia" data-eta="58" data-comune="milano">
            <div class="voce-image" title="Teresa Filippini">
                <img src="assets/img/filippini.jpg" alt="Teresa Filippini" />
            </div>
            <div class="voce-text">
                <h2 class="voce-nome">Teresa Filippini</h2>
                <span class="voce-eta">58</span>, <span class="voce-comune">Milano</span>
            </div>

    </ul>
</section>

<section class="full">

    <div class="description" id="long_desc">
    <span class="close"></span>    
    <div class="messages"></div>

        <div class="contatore top">
            <div class="prev"><</div>
            <p><strong>1</strong> di 666</p>
            <div class="next">></div>
        </div>
        <ul class="vociList">

            <li class="descrizione regione lombardia" data-id="3000" title="Lombardia">
                <div class="contatore contatore-main">
                    <div class="prev"></div>
                    <div class="next"></div>
                </div>

            <li class="descrizione" data-id="3001" data-nome="Teresa Filippini" title="Teresa Filippini">
                <div class="titolo">
                    <h2 class="nome">Teresa Filippini</h2>
                    <span class="eta">58</span>, <span class="comune">Milano</span>
                </div>
                <div class="image">
                    <img src="assets/img/filippini.jpg" alt="Teresa Filippini"> 
                </div>
                <p class="testo">Se n&rsquo;&egrave; andata mamma Teresa, una delle tifose pi&ugrave; note dei campi di serie A e B nelle sette stagioni durante le quali i suoi figli gemelli, Antonio ed Emanuele Filippini, oggi 46enni, giocavano nel Brescia, da mezz&rsquo;ala sinistra e da ala destra. Separati dalle rispettive carriere di allenatori - Emanuele &egrave; il tecnico della Nazionale under 17 e Antonio del Livorno - sognano una sfida tra panchine un giorno in Serie A, ma all&rsquo;appuntamento mancher&agrave; la loro sostenitrice pi&ugrave; imparziale: &laquo;Ciao mamma. mi hai insegnato tanto&raquo; l&rsquo;ha salutata Emanuele. Terry Filippini, 74 anni, era stata un&rsquo;inviata sul campo di Simona Ventura, ai tempi di &laquo;Quelli che il calcio&raquo;: &laquo;Cara Terry che grande dispiacere - ha twittato la conduttrice -. Sarai sempre una persona eccezionale. Un abbraccio ai tuoi gioielli&raquo;.</p>
                <div class="contatore contatore-main">
                    <div class="prev"></div>
                    <div class="next"></div>
                </div>

        </ul>

        <div class="contatore down">
            <div class="prev"><</div>
            <p><strong>1</strong> di 666</p>
            <div class="next">></div>
        </div>
         
    </div>

</section>

