
<script src="https://js.corriereobjects.it/speciale/cronache/2020/addii-morti-coronavirus-italia/assets/script/jquery-ui.min.js" type="text/javascript"></script> 

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js"></script>

<script src="https://js.corriereobjects.it/speciale/cronache/2020/addii-morti-coronavirus-italia/assets/script/jquery.touchSwipe.min.js" type="text/javascript"></script>   

<link rel="stylesheet" href="https://css.corriereobjects.it/speciale/cronache/2020/addii-morti-coronavirus-italia/assets/css/font-face.css"> 

<link rel="stylesheet" href="https://css.corriereobjects.it/speciale/cronache/2020/addii-morti-coronavirus-italia/assets/css/footer.css">

<link rel="stylesheet" href="https://css.corriereobjects.it/speciale/cronache/2020/addii-morti-coronavirus-italia/assets/css/print.css" media="print">

<script src="https://js.corriereobjects.it/speciale/asset/js/share.js"></script>