	<ul>
      	<li class="first">
      		<p><a href="https://www.corriere.it/cronache/20_giugno_06/ora-dolore-forza-coraggio-469205c8-a82e-11ea-b900-84da2a1f22a9.shtml" title="Il dolore e il coraggio">Il dolore e il coraggio</a></p>
      		<span title="Luciano Fontana">di Luciano Fontana</span>
      	</li>
      	<li class="image"><img src="https://images2.corriereobjects.it/speciale/cronache/2020/addii-morti-coronavirus-italia/assets/img/apre.jpg" alt=""/></li>
	
      	<li>
      		<p><a href="https://www.corriere.it/cronache/20_giugno_07/coronavirus-vittime-nessuna-vita-mai-banale-c7b9c15e-a63f-11ea-b760-0b897e2dd362.shtml" title="Nessuna vita &egrave; mai banale">Nessuna vita &egrave; mai banale</a></p>
      		<span title="Aldo Cazzullo">di Aldo Cazzullo</span>
      	</li>		
	
      	<li>
      		<p><a href="https://www.corriere.it/cronache/20_giugno_07/dopo-coronavirus-ritorno-noi-stessi-713ac1a6-a640-11ea-b760-0b897e2dd362.shtml" title="Il ritorno a noi stessi">Il ritorno a noi stessi</a></p>
      		<span title="Paolo Giordano">di Paolo Giordano</span>
      	</li>		
	
	</ul>
