<section class="credit">
    
    
    <p>
        <strong>A cura di:</strong> Maria Serena Natale <br/>
    </p>
    <p>
        <strong>Testi:</strong> Federico Anelli, Emanuela Arabito, Titti Beneduce, Maddalena Berbenni, Giorgio Bernardini, Gabriele Bojano, Giusi Cadel, Anna Campaniello, Andrea Camurani, Cristian Cassella, Lorenza Castagneri, Nicola Catenaro, Felice Cavallaro, Lorenza Cerbini, Alan Conti, Enea Conti, Giuliana Conti, Daniela Corneo, Marina Curti, Giuseppe di Bisceglie, Tommaso Di Giannantonio, Armando Di Landro, Erika Dellacasa, Giusi Fasano, Luigi Ferrarella, Natascia Festa, Fabio Filippini, Alessandro Fulloni, Rinaldo Frignani, Enrico Galletti, Marco Gasperetti, Francesco Gastaldi,  Barbara Gerosa, Mauro Giordano, Margherita Grassi, Stefano Landi, Eleonora Lanzetti, Valentina Lanzilli, Francesca Lianza, Carlotta Lombardo, Tiziano Longo, Luca Luned&igrave;, Alessandro Macci&ograve;, Carlo Macr&igrave;, Carla Mainini, Cristina Marchesi, Enrico Marcoz, Anna Paola Merone, Lucia Cristina Milanesi, Erica Moggio, Gianpiero Monteseno, Francesca Morandi, Stefania Moretti, Luca Muleo, Massimiliano Nerozzi, Michela Nicolussi Moro, Fabio Paravisi, Luca Pernice, Wilma Petenzi, Francesco Petruzzelli, Alberto Pinna, Fabio Postiglione, Nicola Priolo, Luisa Redeghieri, Giulia Ricci, Guido Ridoli, Elisabetta Rosaspina, Floriana Rullo, Clarida Salvatori, Chiara Sandrucci, Gianni Santucci, Gianluca Sartori, Roberta Scorranese, Maria Angela Silvia, Jacopo Storni, Claudio Tadicini, Donatella Tiraboschi, Salvo Toscano, Marco Toresini, Giuliana Ubbiali, Giacomo Valtolina <br/>
    </p>
    <p>
        <strong>Sviluppo grafico:</strong> Grafici Corriere.it <br/>
    </p>
        
    

   
</section>