   
	<title>Nomi e volti che non ci lasceranno: lo Speciale dedicato alle vittime - Corriere.it</title>
    <meta name="title" content="Nomi e volti che non ci lasceranno: lo Speciale dedicato alle vittime - Corriere.it">
    <meta name="description" content="I morti in Italia per Coronavirus: giovani, anziani, medici, infermieri e non solo. A loro, Corriere dedica lo Speciale Addii, con commenti di grandi firme.">
    
    <meta property="fb:app_id" content="203568503078644"/>
    <meta property="og:title" content="Nomi e volti che non ci lasceranno: lo Speciale dedicato alle vittime"/>
    <meta property="og:type" content="article"/>
    <meta property="og:locale" content="it_IT"/>
    <meta property="og:url" itemprop="url" content="https://www.corriere.it/speciale/cronache/2020/addii-morti-coronavirus-italia/"/>
    <meta property="og:image" content="https://images.corriereobjects.it/speciale/cronache/2020/addii-morti-coronavirus-italia/assets/img/social2.png"/>
    <meta property="og:site_name" content="Corriere della Sera"/>
    <meta property="og:description" content="I morti in Italia per Coronavirus: giovani, anziani, medici, infermieri e non solo. A loro, Corriere dedica lo Speciale Addii, con commenti di grandi firme."/>
    <meta name="author" content=""/>

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@Corriereit">
    <meta name="twitter:creator" content="">
    <meta name="twitter:title" content="Nomi e volti che non ci lasceranno: lo Speciale dedicato alle vittime">
    <meta name="twitter:description" content="I morti in Italia per Coronavirus: giovani, anziani, medici, infermieri e non solo. A loro, Corriere dedica lo Speciale Addii, con commenti di grandi firme.">
    <meta name="twitter:image" content="https://images.corriereobjects.it/speciale/cronache/2020/addii-morti-coronavirus-italia/assets/img/social2.png">

    <link rel="canonical" href="https://www.corriere.it/speciale/cronache/2020/addii-morti-coronavirus-italia/"/>

    
