<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<link rel="stylesheet" href="/speciale/cronache/2020/addii-morti-coronavirus-italia/assets/css/voci.css">

<!--<script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.2.0/list.min.js"></script>  -->

<script src="https://js.corriereobjects.it/speciale/cronache/2020/addii-morti-coronavirus-italia/assets/script/list1.5.js"></script> 

<script src="https://js.corriereobjects.it/speciale/cronache/2020/addii-morti-coronavirus-italia/assets/script/js.js" type="text/javascript"></script>

<meta name="robots" content="index, follow">

