<section class="copertina">
    <div class="titoli">
		<!--include virtual="testata.html"-->
    <!--include virtual="social.inc"-->	
	      <h1>Nomi e volti che non ci lasceranno. <br/>Lo Speciale del Corriere in ricordo delle vittime del coronavirus </h1>
	    <!--#include virtual="include-link.html"-->
	<br class="clearfix"> 
	</div> 
</section>
