    <a href="https://www.corriere.it" title="Corriere della Sera.it" class="logo"><img src="https://images.corriereobjects.it/speciale/cronache/2020/addii-coronavirus-morti-italia-chi-sono/assets/img/cds.svg" alt="Corriere della Sera.it" /></a>
    
	<div class="testata">
		<img src="https://images.corriereobjects.it/speciale/cronache/2020/addii-coronavirus-morti-italia-chi-sono/assets/img/testata-addii.svg" alt="Morti in Italia per Coronavirus: chi sono" />
	</div>
