<section class="credit">
    
    
    {{#each data}}
    	{{#each this}}
    <p>
        <strong>{{@key}}</strong> {{{normalizzami this}}} <br/>
    </p>
        {{/each}}
        
    {{/each}}
    

   
</section>