{{#ifCond include "==" "FALSE"}}

<!-- @@@@@@@@@ GRAFICI @@@@@@@@@ -->
<!--#set var="sezione" value="cronache" -->
<!--#set var="sottosezione" value="default" -->
<!-- @@@@@@@@@ GRAFICI @@@@@@@@@ -->
<!DOCTYPE html>
<html lang="it" prefix="og:http://ogp.me/ns#">
    <head>
        <!--#include virtual="/includes2013/SSI/config/global.config" -->
        <script type="text/javascript">
            var sezione = "<!--#echo var='sezione' -->";
            var sottosezione = "<!--#echo var='sottosezione' -->";
            var tipologia = "articolo";
        </script>
        <!--#include virtual="/shared/reportage/includes/set_var.shtml"-->
        <meta http-equiv="content-type" content="text/html; iso-8859-1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        
        <link rel="icon" href="https://images2.corriereobjects.it/includes2013/LIBS/css/assets/favicon.ico" sizes="16x16 24x24 32x32 48x48 64x64 128x128" type="image/vnd.microsoft.icon">
        <link rel="apple-touch-icon" href="https://images2.corriereobjects.it//includes2013/LIBS/css/assets/touch-icon-iphone.png">
        <link rel="apple-touch-icon" sizes="76x76" href="https://images2.corriereobjects.it/includes2013/LIBS/css/assets/touch-icon-ipad.png">
        <link rel="apple-touch-icon" sizes="120x120" href="https://images2.corriereobjects.it/includes2013/LIBS/css/assets/touch-icon-iphone-retina.png">   
        <link rel="apple-touch-icon" sizes="152x152" href="https://images2.corriereobjects.it/includes2013/LIBS/css/assets/touch-icon-ipad-retina.png"> 
        <meta name="msapplication-TileImage" content="https://images2.corriereobjects.it/includes2013/LIBS/css/assets/favicon.ico"/>
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        
        <!--#include virtual="include-social.html"-->
        <!--#include virtual="include-head.html"-->

        <!--#include virtual="/speciale/asset/tracking.inc"-->

</head>
<!--#if expr="$DEVICE != desktop" --> 
<body class="mobile">
<!--#else-->
<body class="desktop">
<!--#endif-->
<!--#include virtual="loader.inc"-->
<!--#include virtual="header.html"-->
<div class="specialeCorriere">
    <!--#include virtual="include-testi.html"-->
    <article>
       <!--#include virtual="include-italia.html"-->
       <!--#include virtual="include-credits.html"-->
        <a href="#0" class="cd-top">Torna su</a>
    </article>
<!--#include virtual="/speciale/asset/footer.inc"-->
</div>
<!--#include virtual="include-footer.html"-->
<!--#include virtual="/includes2013/SSI/bottom/tracking/tracking_grafici.shtml" -->
    </body>
    </html>
{{/ifCond}}