
<section class="lista" id="listaVoci">
    <div class="filtro">
    
    {{#each filtri}}

        {{#ifCond this.length ">" 1}}
        <div class="select">
            <label for="search">Filtra per {{noSpace @key}}</label>
            <select id="filter_{{noSpace @key}}">
            <option value='all' selected="selected">Tutti</option>
            {{!-- <option value='all'>{{normalizzami @key}}</option> --}}
            {{#each this}}
                <option value="{{normalizzami this}}">{{normalizzami this}}</option>
            {{/each}}
            </select>
        </div> 
        {{/ifCond}}

        {{#ifCond this.length "==" 1}}
            <button id="filter_{{noSpace @key}}" class="{{normalizzami @key}}">{{this}}</button>
        {{/ifCond}}
    {{/each}}
        
        <div class="input">
            <label for="search">Cerca</label>
            <input class="search" name="search" placeholder=""/>
            <img src="https://images2.corriereobjects.it/speciale/cronache/2020/addii-morti-coronavirus-italia/assets/img/lente.svg" title="cerca"/>
        </div>    
        
    </div>

    <ul class="list">
        {{#each data}}      
        {{#if regione}}
        {{#if nome}}
            <li class="voce voce-{{@index}}" data-id="{{@index}}" data-nome="{{normalizzami nome}} {{normalizzami cognome}}" data-sesso="{{normalizzami sesso}}" data-eta="{{normalizzami eta}}" data-comune="{{normalizzami comune}}" data-regione="{{normalizzami regione}}" title="{{normalizzami nome}} {{normalizzami cognome}}">
                <div class="voce-image">
                 {{#if foto}}
                    <img src="https://images2.corriereobjects.it/speciale/cronache/2020/addii-morti-coronavirus-italia/assets/img/{{trimmami foto}}.jpg" alt="{{normalizzami nome}} {{normalizzami cognome}}" />
                    {{else}}
                        <img src="https://images2.corriereobjects.it/speciale/cronache/2020/addii-morti-coronavirus-italia/assets/img/{{normalizzami sesso}}.png" alt="{{normalizzami nome}} {{normalizzami cognome}}" />
                    {{/if}}
                </div>
                <div class="voce-text">
                    <h2 class="voce-nome">{{normalizzami nome}} {{normalizzami cognome}}</h2>
                <span class="voce-eta">{{normalizzami eta}}</span>, <span class="voce-comune">{{normalizzami comune}}</span>
                </div>
            </li>
        {{else}}
            <li class="voce voce-{{@index}} regione {{normalizzami regione}}" data-id="{{@index}}" data-nome="" data-regione="{{normalizzami regione}}" data-eta="" data-comune="" title="{{normalizzami regione}}"><span>{{normalizzami regione}}</span>
                <div class="voce-image">
                    <img src="https://images2.corriereobjects.it/speciale/cronache/2020/addii-morti-coronavirus-italia/assets/img/pix.png" alt="{{normalizzami regione}}" />
                </div>
                <div class="voce-text">
                </div>
            </li>
        {{/if}}
        {{/if}}
        {{/each}}
    </ul>
</section>

<section class="full" id="fulloverlay">
<div class="description" id="long_desc">
    <span class="close"></span>
    <div class="messages"></div>
    <div class="contatore contatore-main">
        <div class="prev"></div>
        <div class="next"></div>
    </div>
    <!--#include virtual="inmemoria.inc"-->
        <ul class="vociList">
        {{#each data}}
            {{#if regione}}
                {{#if nome}}
                <li class="descrizione" data-id="{{@index}}" data-nome="{{normalizzami nome}} {{normalizzami cognome}}" title="{{normalizzami nome}} {{normalizzami cognome}}">
                    <div class="titolo">
                        <h2 class="nome">{{normalizzami nome}} {{normalizzami cognome}}</h2>
                        <span class="eta">{{normalizzami eta}}</span>, <span class="comune">{{normalizzami comune}}</span>
                    </div>    
                    <div class="image">
                    {{#if foto}}
                        <img src="https://images2.corriereobjects.it/speciale/cronache/2020/addii-morti-coronavirus-italia/assets/img/{{trimmami foto}}.jpg" alt="{{normalizzami nome}} {{normalizzami cognome}}">
                    {{else}}
                        <img src="https://images2.corriereobjects.it/speciale/cronache/2020/addii-morti-coronavirus-italia/assets/img/{{normalizzami sesso}}.png" alt="{{normalizzami nome}} {{normalizzami cognome}}" />
                    {{/if}}
                    </div>
                    {{#if testo}}
                    <p class="testo">{{{normalizzami testo}}} 
                        {{#if firma}}
                            <span class="firma">di {{{normalizzami firma}}}</span>
                        {{/if}} 
                    </p>
                    {{/if}} 
                </li>
                {{else}}
                <li class="descrizione regione" data-id="{{@index}}" title="{{normalizzami regione}}"></li>    
                {{/if}}
            {{/if}}
        {{/each}}
        </ul>
     </div>
</section>
