	<ul>
    	{{#each data}}
		{{#if @first}}
      	<li class="first">
      		<p><a href="{{url}}" title="{{normalizzami testo}}">{{normalizzami testo}}</a></p>
      		<span title="{{normalizzami autore}}">di {{normalizzami autore}}</span>
      	</li>
      	<li class="image"><img src="https://images2.corriereobjects.it/speciale/cronache/2020/addii-morti-coronavirus-italia/assets/img/apre.jpg" alt=""/></li>
      	{{else}}
      	<li>
      		<p><a href="{{url}}" title="{{normalizzami testo}}">{{normalizzami testo}}</a></p>
      		<span title="{{normalizzami autore}}">di {{normalizzami autore}}</span>
      	</li>		
      	{{/if}}
	
	    {{/each}}
	</ul>
