{{#each data}}
   
	<title>{{title}} - Corriere.it</title>
    <meta name="title" content="{{title}} - Corriere.it">
    <meta name="description" content="{{description}}">
    
    <meta property="fb:app_id" content="203568503078644"/>
    <meta property="og:title" content="{{title}}"/>
    <meta property="og:type" content="article"/>
    <meta property="og:locale" content="it_IT"/>
    <meta property="og:url" itemprop="url" content="{{canonical_link}}"/>
    <meta property="og:image" content="{{foto}}"/>
    <meta property="og:site_name" content="Corriere della Sera"/>
    <meta property="og:description" content="{{description}}"/>
    <meta name="author" content="{{author}}"/>

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@Corriereit">
    <meta name="twitter:creator" content="{{author}}">
    <meta name="twitter:title" content="{{title}}">
    <meta name="twitter:description" content="{{description}}">
    <meta name="twitter:image" content="{{foto}}">

    <link rel="canonical" href="{{canonical_link}}"/>

{{/each}}
    
