<section class="copertina">
    <div class="titoli">
		<!--include virtual="testata.html"-->
    <!--include virtual="social.inc"-->	
     	{{#each data}}
	      <h1>{{normalizzami Titolo}} </h1>
	      {{!--<h3>{{{normalizzami Sommario}}}</h3>
	      <p class="autore">
	      	a cura di {{{normalizzami Autore}}} 
	      </p>
	      <p class="data">{{{normalizzami Data}}} </p>
	      <p class="firme">con i testi di <em>{{{normalizzami Firme}}}</em> </p> --}}
	    {{/each}}
	    <!--#include virtual="include-link.html"-->
	<br class="clearfix"> 
	</div> 
</section>
