
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@font-face{
	font-family:'title-regular-let';
	src:url("//css2.corriereobjects.it/includes2013/LIBS/css/fonts/la-lettura/soldireg-webfont.eot");
	src:url("//css2.corriereobjects.it/includes2013/LIBS/css/fonts/la-lettura/soldireg-webfont.eot?#iefix") format("embedded-opentype"),url("//css2.corriereobjects.it/includes2013/LIBS/css/fonts/la-lettura/soldireg-webfont.woff2") format("woff2"),url("//css2.corriereobjects.it/includes2013/LIBS/css/fonts/la-lettura/soldireg-webfont.woff") format("woff"),url("//css2.corriereobjects.it/includes2013/LIBS/css/fonts/la-lettura/soldireg-webfont.ttf") format("truetype");
	font-weight:normal;
	font-style:normal;
}
@font-face {
  font-family: 'SolferinoDisplay-RegularItalic';
  src: url('//css2.corriereobjects.it/includes2013/LIBS/css/fonts/solferino/SolferinoDisplay-RegularItalic.eot');
  src: url('//css2.corriereobjects.it/includes2013/LIBS/css/fonts/solferino/SolferinoDisplay-RegularItalic.eot?#iefix') format('embedded-opentype'),
    url('//css2.corriereobjects.it/includes2013/LIBS/css/fonts/solferino/SolferinoDisplay-RegularItalic.woff') format('woff'),
    url('//css2.corriereobjects.it/includes2013/LIBS/css/fonts/solferino/SolferinoDisplay-RegularItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'SolferinoDisplayHeavy';
  src: url('//css2.corriereobjects.it/includes2013/LIBS/css/fonts/solferino/solferinodisolayheavy.eot');
  src: url('//css2.corriereobjects.it/includes2013/LIBS/css/fonts/solferino/solferinodisolayheavy.eot?#iefix') format('embedded-opentype'),
    url('//css2.corriereobjects.it/includes2013/LIBS/css/fonts/solferino/solferinodisolayheavy.woff') format('woff'),
    url('//css2.corriereobjects.it/includes2013/LIBS/css/fonts/solferino/solferinodisolayheavy.ttf') format('truetype');
  font-style:normal;
  font-weight:normal;
}
@font-face {
  font-family: 'SolferinoDisplay';
  src: url('//css2.corriereobjects.it/includes2013/LIBS/css/fonts/solferino/solferinodisplaylight.eot');
  src: url('//css2.corriereobjects.it/includes2013/LIBS/css/fonts/solferino/solferinodisplaylight.eot?#iefix') format('embedded-opentype'),
    url('//css2.corriereobjects.it/includes2013/LIBS/css/fonts/solferino/solferinodisplaylight.woff') format('woff'),
    url('//css2.corriereobjects.it/includes2013/LIBS/css/fonts/solferino/solferinodisplaylight.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face{
  font-family:"main_regular";
  font-style:normal;
  font-weight:normal;
  src:url("https://css.corriereobjects.it/includes2013/LIBS/css/fonts/brera/brerarg-webfont.eot?v=201403051053");
  src:url("https://css.corriereobjects.it/includes2013/LIBS/css/fonts/brera/brerarg-webfont.eot?#iefix&v=201403051053") format("embedded-opentype"),
  url("https://css.corriereobjects.it/includes2013/LIBS/css/fonts/brera/brerarg-webfont.woff?v=201403051053") format("woff"),
  url("https://css.corriereobjects.it/includes2013/LIBS/css/fonts/brera/brerarg-webfont.ttf?v=201403051053") format("truetype"),
  url("https://css.corriereobjects.it/includes2013/LIBS/css/fonts/brera/brerarg-webfont.svg#BreraCondensedRegularttf?v=201403051053") format("svg")
}
@font-face{
  font-family:"main-condensed_regular";
  font-style:normal;
  font-weight:normal;
  src:url("https://css.corriereobjects.it/includes2013/LIBS/css/fonts/brera/brecnrg-webfont.eot?v=201403051053");
  src:url("https://css.corriereobjects.it/includes2013/LIBS/css/fonts/brera/brecnrg-webfont.eot?#iefix&v=201403051053") format("embedded-opentype"),
  url("https://css.corriereobjects.it/includes2013/LIBS/css/fonts/brera/brecnrg-webfont.woff?v=201403051053") format("woff"),
  url("https://css.corriereobjects.it/includes2013/LIBS/css/fonts/brera/brecnrg-webfont.ttf?v=201403051053") format("truetype"),
  url("https://css.corriereobjects.it/includes2013/LIBS/css/fonts/brera/brecnrg-webfont.svg#BreraCondensedRegularttf?v=201403051053") format("svg")
}
@font-face{
  font-family:"title-regular";
  font-style:normal;font-weight:normal;
  src:url("https://css.corriereobjects.it/includes2013/LIBS/css/fonts/solferino/solferinotext-regular-webfont.eot?v=201403051053");
  src:url("https://css.corriereobjects.it/includes2013/LIBS/css/fonts/solferino/solferinotext-regular-webfont.eot?#iefix&v=201403051053") format("embedded-opentype"),
  url("https://css.corriereobjects.it/includes2013/LIBS/css/fonts/solferino/solferinotext-regular-webfont.woff?v=201403051053") format("woff"),
  url("https://css.corriereobjects.it/includes2013/LIBS/css/fonts/solferino/solferinotext-regular-webfont.ttf?v=201403051053") format("truetype"),
  url("https://css.corriereobjects.it/includes2013/LIBS/css/fonts/solferino/solferinotext-regular-webfont.svgttf?v=201403051053") format("svg")
}

@media screen and (-webkit-min-device-pixel-ratio: 0){
}
