 header {position: absolute;}

.logomob {
    display: none;
}
section.copertina .titoli h1  {
    font-size: 14px;
}
section.copertina .titoli h1 br {
    display: block;
}

    section.copertina .titoli ul {
        display: table;
        text-align: left;
        width: 100%;
        height: auto;
        /* z-index: 100; */
        margin: 270px auto 0 auto;
        padding: 0 14px;
    }
    section.copertina .titoli ul li {
        position: relative;
        display: block;
        float: none !important;
        width: 100%;
        height: auto;
        text-align: center;
        padding-top: 0;
        margin-bottom: 24px;        
    }
    section.copertina .titoli ul li.first {
        height: auto;
        padding-top: 0;
        margin-bottom: 0;
    }
    section.copertina .titoli ul li.image {
        height: auto;
        margin: 34px auto 28px auto;
        border: 0;
    }
    section.copertina .titoli ul li.image img {

    }
    section.copertina .titoli ul li.first p {
        text-transform: uppercase;
    }
    section.copertina .titoli ul li.first p {
        font-size: 24px;
    }
    section.copertina .titoli ul li p {

    }
    section.copertina .titoli ul li span {

    }
    section.copertina .titoli ul li p a {
        color: inherit;
        text-decoration: none;
    }

#listaVoci {

}

.filtro {display: none;}

.copertina { 
	text-align: center;
	page-break-inside: avoid;
	page-break-after: always;
}
section.full {
	display: block !important;
	background-color: #fff;
	position: relative !important;
	top: auto !important;
	left: auto !important;

}
section.description  {
    display: block !important;
	page-break-inside: avoid;
	page-break-after: always;
	position: relative !important;
	top: auto !important;
	left: auto !important;
	max-height: none !important;
	width: 100% !important;
	height: auto !important;

}
section.description .descrizione {
    display: block !important;
	page-break-inside: avoid;
	page-break-after: always;
	position: relative!important;
	top: auto!important;
	left: auto!important;
	height: auto!important;
	transform: none !important;

}


header .shareToolBar {
	display: none !important;
}


