@import "font-face.css";

* {
    box-sizing: border-box;
    padding: 0;
    border: 0;
    margin: 0;
}

::-moz-selection {
    color: #efefef;
    background: #333;
}
::selection {
    color: #efefef;
    background: #333;
}

.clearfix:after,
.clearfix:before {
    display: table;
    content: "";
    line-height: 0
}
.clearfix:after {
    clear: both
}
br.clearfix {
    display: none;
}

body,
html {
    overflow-x: hidden;
}

/* loading */

.loader {
    display: block;
    position: fixed;
    background-color: #333;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 5000;
    background-image: url(https://images2.corriereobjects.it/speciale/cronache/2020/addii-morti-coronavirus-italia/assets/img/bg-camion2.jpg);
    background-size: cover;
}
.loader:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
}
.loader img.fullback {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100%;
    object-fit:cover;
    -webkit-transform: none;
     transform: none; 
}
.loader span{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
     transform: translate(-50%,-50%);
    z-index: 10;
    color: #efefef;
    font-family: SolferinoDisplay-RegularItalic;
    font-size: 6px;
    text-shadow: 0px 2px 0px #333;
    opacity: 0;
    -webkit-transition: opacity 2s linear, font 2s linear;
     transition: opacity 2s linear, font 2s linear;
}
.loader span.loaded{
    opacity: 1;
    font-size: 52px;
}
.loader img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
     transform: translateX(-50%) translateY(-50%);
    width: 160px;
    width: 240px!important;
}
.loader img.fiore {
    width: 1px;
    opacity: 1;
    display: none;
}
.loader img.rotate {
    width: 140px;
}


/* share social */


.shareToolBar {
    position: absolute;
    top: 100px;
    right: 0;
    z-index: 100;
    mix-blend-mode: overlay;
}
.shareToolBar a.pop {
    display: block;
}
.shareToolBar img {
    width: 36px; 
}
.shareToolBar a {
    color: #000;
    font-size: 26px;
    text-decoration: none;
    margin-bottom: .3em;
    display: none;
    height: 36px;
}
.shareToolBar a:first-child {
    display: block;
}
.shareToolBar a:hover {
    color: rgba(18, 18, 15, .7);
}
@media screen and (min-width:601px) {
    .shareToolBar {
        display: block;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        right: 14px;
    }
    .shareToolBar img {
        width: 32px;
    }
    .shareToolBar a {
        display: block;
        height: 32px;
        text-decoration: none;
        margin-left: .1em;
        margin-bottom: 0;
        display: inline-block;
    }
    .shareToolBar a.pop {
        display: none;
    }
    .shareToolBar a.j-tg, .shareToolBar a.j-wa {
        display: none;
    }
}
@media screen and (max-width:600px) {
    .j-tg, .j-wa {
        display: block;
    }
    .shareToolBar img {
        width: 42px;
    }
    .shareToolBar a.pop {
        width: 42px;
    }
    .shareToolBar a.pop img {
        width: 36px;
        margin-left: 3px;
    }
}

.blurred {
    filter: blur(3px) !important;
}

/* header */

header {
    position: fixed;
    top: 0;
    display: block;
    background-color: hsl(0, 0%, 20%);
    height: 60px;
    width: 100%;
    left: 0;
    z-index: 1;
}
header .logo {
    position: absolute;
    display: block;
    height: 37px; 
    top: 50%;
    left: 14px;
    -webkit-transform: translateY(-50%);
     transform: translateY(-50%);
    z-index: 10;
}
header .logomob {
    display: none;
}
header .logo img {
    width: 100%;  
}
header .memoria {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
     transform: translate(-50%,-50%);
    font-family: "SolferinoDisplay", "title-regular", serif;
    font-size: 22px;
    line-height: 25px;
    text-transform: uppercase;
    color: #efefef;
    letter-spacing: 1.22em;
    padding-left: 1.22em;    
}


header .memoria {
    width: 100%;
    left: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    font-family: "SolferinoDisplay", "title-regular", serif;
    font-size: 18px;
    line-height: 22px;
    color: #efefef;
    letter-spacing: 1.2em;
    padding-left: 1.2em;
    text-align: center;
}
header .memoria span {
    /* display: none; */
}

header .memoria .fiore {
    position: absolute;
    top: -10px;
    left: calc(50% - 85px);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 45px;
}

@media screen and (max-width:600px) {
    header {
        height: 92px;
    }
    header .logo {
        display: none;
        /* height: 32px; */
        /* transform: none; */
        /* top: 0; */
    }
    header .logomob {
        display: block;
        width: 100%;
        transform: none;
        position: absolute;
        top: 10px;
    }
    header .logomob img {
        display: block;
        margin: 0 auto;
    }
    header .memoria {
        /* position: relative; */
        transform: none;
        top: 50px;
    }
}

@media screen and (max-width:390px) {
    header .memoria {
        font-size: 14px;
        line-height: 18px;
    }
    header .memoria .fiore {
        position: absolute;
        top: -6px;
        left: calc(50% - 66px);
        -webkit-transform: translateX(-50%);
         transform: translateX(-50%);
        width: 30px;
    }
}    

/* corpo articolo */

.specialeCorriere {
    opacity: 1;
    /* padding-top: 30px; */
    /* z-index: 2; */
    /* position: relative; */
}



/* apertura */

section.copertina  {
   position: relative;
   width:  100%;
   margin: 0 auto;
   max-width: 1200px; 
}
section.copertina .titoli {
    width: 100%;
    margin-top: 72px;
    font-family: title-regular, serif;
    text-align: center;

}

section.copertina .titoli h1 {
    padding: 0 14px; 
    margin-bottom: 64px;
    font-family: "SolferinoDisplay", "SolferinoDisplay-RegularItalic", "title-regular-let", serif;
    font-size: 12px;
    line-height: 13px;
    color: #666666;
    text-transform: uppercase;
    letter-spacing: .1rem;
}
section.copertina .titoli br {
    display: none;
}
section.copertina .titoli i {
    letter-spacing: -2px;
}
section.copertina .titoli em {/* display: block; */}
section.copertina .titoli h3 {
    color: #5d5050;
    font-family: "SolferinoDisplay", "SolferinoDisplay-RegularItalic", "title-regular-let", serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: normal;
    padding: 0 180px;
}
section.copertina .titoli p {
    display: none;
    color: #12120f;
    margin: 0 0 5px 0;
    font-family: title-regular, serif;
    font-size: 12px;
}
section.copertina .titoli p.autore {
    display: none;
    font-size: 18px;
    padding: 0 30px;
}
section.copertina .titoli p.data {
    font-size: 14px;
    margin: 0;
    padding: 0 20px;
}
section.copertina .titoli p.firme {
    font-size: 14px;
    padding: 0 310px;
    margin-top: 30px;
}
section.copertina .titoli p.firme em {
    display: block;
}
@media screen and (max-width:1000px) {
    section.copertina .titoli h3 {
        font-size: 22px;
        padding: 0 100px;
    }
    section.copertina .titoli p.firme {
        font-size: 14px;
        padding: 0 210px;
    }
}
@media screen and (max-width:900px) {
    section.copertina .titoli h3 {
        font-size: 20px;
        padding: 0 80px;
    }
}
@media screen and (max-width:800px) {
    section.copertina .titoli h1 {
    }
    section.copertina .titoli h3 {
        font-size: 20px;
        padding: 0 80px;
    }
}
@media screen and (max-width:600px) {
    section.copertina {
        height: auto;
    }
    section.copertina .titoli {
        width: 100%;
        text-align: center;
        -webkit-transform: none;
        transform: none;
        margin-top: 100px;
    }
    section.copertina .titoli .testata img {
        max-width: 90%;
    }
    section.copertina .titoli h1 {
    }
    section.copertina .titoli h1 br {
        display: block;
    }
    section.copertina .titoli h3 {
        font-size: 18px;
        line-height: 26px;
        padding: 0 20px;
    }
    section.copertina .titoli p.autore {
        font-size: 18px;
        padding: 0 20px;
    }    
    section.copertina .titoli h3 br {
        display: none;
    }
    section.copertina .titoli p.firme {
        font-size: 14px;
        padding: 0 20px;
    }
}
@media screen and (min-width:420px) and (max-width:600px) {
    section.copertina .titoli h1 {
        padding-right: 40px;
    }
}
section.copertina .fitText {
    line-height: 1;
    margin: 0 auto;
    padding: 0;
    display: block;
    text-align: center
}
@media (min-width:699px) {
    section.copertina .fitText {
        max-width: 600px
    }
}

section.copertina .titoli ul {
    display: table;
    text-align: left;
    width: 100%;
    height: 205px;
    padding: 0 90px;
}
@media (max-width:950px) {
    section.copertina .titoli ul {
        padding: 0;
    }
}

section.copertina .titoli ul li {
    position: relative;
    display: block;
    float: right;
    width: 33.3%;
    height: 50%;
    text-align: center;
    padding-top: 30px;
}
section.copertina .titoli ul li.first {
    float: left;
    height: 100%;
    padding-top: 90px;
}
section.copertina .titoli ul li.image {
    float: left;
    height: 100%;
    padding-top: 0;
}
section.copertina .titoli ul li.image img {
    width: 100%;
    height: 100%;
    max-width: 308px;
    max-height: 205px;
    object-fit: cover;
    margin: 0 auto;
}
section.copertina .titoli ul li.first p {
    text-transform: uppercase;
}
section.copertina .titoli ul li:before {
    content: "";
    display: none;
    position: absolute;
    top: 6px;
    left: 6px;
    width: 12px;
    height: 12px;
    background-color: #333;
    border-radius: 50%;
}
section.copertina .titoli ul li.first p {
    font-size: 28px;
}
section.copertina .titoli ul li p {
    display: block;
    font-family: "SolferinoDisplay", "title-regular", serif;
    font-size: 24px;
    line-height: 26px;
    color: #5d5050;
    text-transform: uppercase;
}
section.copertina .titoli ul li span {
    font-family: main-condensed_regular, sans-serif;
    font-size: 14px;
    line-height: 26px;
    color: #29abef;
    font-style: italic;
}
section.copertina .titoli ul li p a {
    color: inherit;
    text-decoration: none;
}

@media screen and (max-width:699px) {
    section.copertina .titoli h1 {
        margin-bottom: 44px;
        padding: 0 44px;
        font-size: 12px;
        line-height: 13px;
        font-weight: normal;

    }
    section.copertina .titoli ul {
        display: table;
        text-align: left;
        width: 100%;
        height: auto;
        margin: 0 auto;
        padding: 0 14px;
    }
    section.copertina .titoli ul li {
        position: relative;
        display: block;
        float: none !important;
        width: 100%;
        height: auto;
        text-align: center;
        padding-top: 0;
        margin-bottom: 24px;        
    }
    section.copertina .titoli ul li.first {
        height: auto;
        padding-top: 0;
        margin-bottom: 0;
    }
    section.copertina .titoli ul li.image {
        width: 150px;
        height: auto;
        margin: 34px auto 28px auto;
        border: 1px solid #9999;
    }
    section.copertina .titoli ul li.image img {
        display: none;
    }
    section.copertina .titoli ul li.first p {
        text-transform: uppercase;
    }
    section.copertina .titoli ul li.first p {
        font-size: 24px;
    }
    section.copertina .titoli ul li p {
        display: block;
        font-family: "SolferinoDisplay", "title-regular", serif;
        font-size: 22px;
        line-height: 26px;
        color: #5d5050;
    }
    section.copertina .titoli ul li span {
        font-family: roboto, sans-serif;
        font-size: 16px;
        line-height: 24px;
        color: #29abef;
        font-style: normal;
    }
    section.copertina .titoli ul li p a {
        color: inherit;
        text-decoration: none;
    }
}    


article {
    background-color: #fff;
    color: #12120f;
    position: relative;
    z-index: 2;
    padding: 0 8px 8px 8px;
    width: 100%;
    margin: 0 auto 0 auto;
}
@media screen and (min-width:1366px) {

}   
article h1 {

}

/* tabellone*/

section.scroll {
    display: block;
    width: 100%;
    max-width: 860px;
    margin: 60px auto 180px auto;
}

/* filtri tabellone */

section.lista .filtro {
    text-align: center;
    margin: 64px auto 64px auto;
}
section.lista .filtro .select {
    display: inline-block;
    margin-right: 60px;
}
section.lista .filtro .input {
    display: inline-block;    
}

section.lista .filtro label {
    font-family: Roboto, sans-serif;
    font-size: 12px;
    line-height: 18px;
    display: inline-block;
    text-align: left;
    height: 20px;
}
/*section.lista .filtro div input {
    font-family: main-condensed_light, serif;
    width: 100%;
    color: #12120f;
    border-width: 0 0 1px 0;
    border-color: #ccc;
    height: 25px;
}*/
section.lista .filtro input:focus {
    border-width: 1px;
    outline-color: #000;
    border-color: #000;
    -webkit-tap-highlight-color: #000!important
}
section.lista .filtro button,
section.lista .filtro select,
section.lista .filtro input {
    position: relative;
    font-family: Roboto, sans-serif;
    font-size: 12px;
    /* margin-right: 60px; */
    background: #fff;
    border: 0px solid #999999;
    border-radius: 0;
    border-bottom: 2px solid #999999;
    box-sizing: border-box;
    height: 20px;
    width: 150px;
    color: #999999;
}
section.lista .filtro #filter_regione {
    width: 212px;
}

@media screen and (max-width:900px) {
    section.lista .filtro .select {
        margin-right: 10px;
    } 
    section.lista .filtro #filter_regione {
        width: 150px;
    }
}    

@media screen and (max-width:900px) {
    section.lista .filtro label {
        font-size: 12px;
        line-height: 12px;
    }
}

section.lista .filtro input {
    margin-right: 0;
}
section.lista .filtro img {
    display: inline-block;
    height: 20px;
    vertical-align: middle;
}

@media screen and (max-width:699px) {
     section.lista .filtro {
        margin: 0 auto 0 auto;
        padding: 5px;
        display: table;
        margin-bottom: 20px;        
    }
    section.lista .filtro input,
    section.lista .filtro .select {
        width: 48%;
        float: right;
        text-align: left;
        margin-bottom: 10px;
    }
    section.lista .filtro .select {
        margin-right: 0;
    }    
    section.lista .filtro .input {
        display: none;
    }
    section.lista .filtro .select select {
        width: 100% !important;
        font-size: 16px;
        padding: 0 0 4px 0;
        height: 26px;
    }
    section.lista .filtro .select:first-child  {
        float: left;
    }   
}
section.lista .filtro button:focus,
section.lista .filtro select:focus {
    border-width: 1px;
    outline-color: #000;
    border-color: #000;
    -webkit-tap-highlight-color: #000!important
}
section.lista .filtro button:checked,
section.lista .filtro select:checked {
    border-width: 1px;
    outline-color: #000;
    border-color: #000;
    -webkit-tap-highlight-color: #000!important
}
section.lista .filtro button.selected,
section.lista .filtro select.selected {
    border-width: 1px;
    outline-color: #000;
    border-color: #000;
    -webkit-tap-highlight-color: #000!important;
    background: #000;
    color: #DFE0DA;
    font-weight: 700
}

/* voci tabellone */

section.lista ul {
    display: table;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    /* padding-left: 100px; */
}
section.lista .voce {
    display: block;
    float: left;
    position: relative;
    cursor: pointer;
    width: 20%;
    max-width: 200px;
    border: 5px solid #fff;
    -webkit-transition: all .3s linear;
     transition: all .3s linear;
}

section.lista .voce.regione {
    position: relative;
}
section.lista .voce.regione:first-child {

}
section.lista .voce.regione span {
    display: inline-block;
    position: absolute;
    top: 50%;
    top: calc(50% - 20px);
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
     transform: translate(-50%,-50%);
    z-index: 100;
    width: 100%;
    padding: 0 30px;
    font-family:"SolferinoDisplay", "title-regular", serif;
    font-size: 18px;
    color: #efefef;
    font-weight: bold;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    -webkit-transition: all .6s linear;
     transition: all .6s linear;
}

section.lista .voce.regione:hover span {
    color: #fae9c8;
}
section.lista .voce.regione:before {
/*    content: "";
    display: block;
    width: 190px;
    height: 190px;
    background-color: #333 !important;
    height: 20px;
    left: 50%;
    -webkit-transform: translateX(-50%);
     transform: translateX(-50%);
    width: 2px;
    position: absolute;
    top: 10px;
    opacity: 0;*/
}
section.lista .voce.regione:after {
    content: "";
    display: block;
    background: #efefef;
    height: 2px;
    left: 50%;
    -webkit-transform: translateX(-50%);
     transform: translateX(-50%);
    position: absolute;
    top: 15px;
    width: 12px;
    opacity: 0;
    /* bordo bianco
    background: #fff;
    height: 75px;
    bottom:  0;
    top: auto;
    left: 0;
    width: 100%;
    transform: none;*/
}
@media screen and (max-width:900px) {
    section.lista .voce {
        width: 25%;
    }
}


@media screen and (max-width:430px) {
    section.lista .voce {

    }
}
section.lista .voce-image {
    position: relative;
    width: 100%;
    text-align: center;
}
section.lista .regione .voce-image {
    position: relative;
    width: 100%;
    text-align: center;
    display: block;
    /* width: 190px; */
    height: 190px;
    background-color: #333 !important;
}


section.lista .voce-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    -webkit-filter: saturate(100%);
    filter: saturate(100%);
    -webkit-transition: all .2s linear;
      transition: all .2s linear;
}
@media screen and (max-width:699px) {
    section.lista .voce-image img {
        width: 100%;
        height: 100%;
    }
}
section.lista .voce-text {
    background: rgba(255, 255, 255, 0.75);
    width: 100%;
    padding-top: 5px;
    height: 40px;
}
section.lista .voce-nome{
    font-family: "SolferinoDisplay", "title-regular-let", serif;
    font-size: 16px;
    line-height: 18px;
    position: relative;
    padding-left: 14px;
}
section.lista .voce-nome:before{
    content: "";
    display: block;
    position: absolute;
    top: 4px;
    left: 0;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background: #333;
}
section.lista span.voce-eta,section.lista span.voce-comune {
    /*font-family: main_regular, sans-serif;
    font-size: 12px;*/
    font-family: "SolferinoDisplay", "title-regular-let", serif;
    font-size: 14px;
    line-height: 18px;
    color: #666666;
}
@media screen and (max-width:699px) {
    section.lista .voce {
        width: 50%;
    }
    section.lista .voce-nome {
        font-family: Roboto, sans-serif;
        font-size: 14px !important;
        line-height: 18px !important;
    }
    section.lista span.voce-eta,section.lista span.voce-comune {
        font-family: Roboto, sans-serif;
        font-size: 14px;
        line-height: 18px;
    }
}

/* blocco testo */

.overlay .copertina, .overlay #listaVoci, .overlay .credit, .overlay footer {
    filter: blur(2px);
}


section.full {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background-color: rgba(78, 82, 83, 0.8);
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .3s linear;
     transition: opacity .3s linear;
}
section.full .close {
    display: none;
    position: absolute;
    top: 0;
    z-index: 1000;
    right: 0;
    width: 50px;
    height: 50px;
    background: url(https://images2.corriereobjects.it/speciale/cronache/2020/addii-morti-coronavirus-italia/assets/img/X.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    cursor: pointer;
    -webkit-transition: all .4s ease;
     transition: all .4s ease;
}
section.full .close:hover {
    -webkit-transform: rotate(180deg);
     transform: rotate(180deg);
}
section.full .description:hover .close {
    display: block;
}
.vociList {
    display: table;
    width: 100%;
    height: 100%;
}

div.description {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
     transform: translate(-50%,-50%);
    width: 90%;
    height: 85%;
    max-width: 1100px;
    max-height: 560px;
    background: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    -webkit-transition: all .3s linear;
     transition: all .3s linear;
     overflow:hidden;
}
div.description .messages p {
    font-family: main-condensed_light, sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-align: center
}
div.description .memoria {
    position: absolute;
    bottom: 25px;
    left: 346px;
    z-index: 51;
    width: 387px;
    height: 24px;
    background: #333;
    padding-top: 5px;
    font-family: "SolferinoDisplay", "title-regular", serif;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #efefef;
    letter-spacing: 1.22em;
    padding-left: 1.22em;    
    text-align: center;
    outline: 10px solid #fff;
}
div.description .memoria .fiore {
    position: absolute;
    top: -7px;
    left: calc(50% - 68px);
    -webkit-transform: translateX(-50%);
     transform: translateX(-50%);
    width: 40px;
}
@media (max-width:900px) {
    div.description .memoria .fiore {
        left: calc(50% - 68px);
    }
    div.description .memoria {
        left: 235px;
        width: 310px;
    }
}
@media (max-width:600px) {
    div.description {
        overflow: visible;
    }
    div.description .memoria .fiore {
        top: -4px;
        left: calc(50% - 64px);
        width: 35px;
    }
    div.description .memoria {
        display: none;
        left: 0;
        bottom: -24px;
        width: 100%;
        z-index: 100;
        border-top: 10px solid #fff;
        height: 34px;
        outline: 0;
    }
}

div.description .contatore>* {
    display: inline-block;
    margin: 0 5px
}

    div.description .contatore-main {
        opacity: 1;
        z-index: 50;
        width: 100%;
        background: #fff;
        text-align: center;
        font-size: 24px;
        position: absolute;
        bottom: 0;
        height: 50px;
        left: 0;
    }

    div.description .contatore-main .prev {
        cursor: pointer;
        position: absolute;
        display: none;
        font-size: 24px;
        text-indent: -100%;
        width: 50px;
        height: 50px;
        background: url(https://images2.corriereobjects.it/speciale/cronache/2020/addii-morti-coronavirus-italia/assets/img/back.svg) center center no-repeat;
        background-size: 50px;
        left: 10px;
        bottom: 15px;
    }
    div.description .contatore-main .next {
        cursor: pointer;
        position: absolute;
        display: none;
        font-size: 24px;
        text-indent: -100%;
        width: 50px;
        height: 50px;
        background-image: url(https://images2.corriereobjects.it/speciale/cronache/2020/addii-morti-coronavirus-italia/assets/img/next.svg);
        background-size: 50px;
        right: 10px;
        bottom: 15px;
    }

div.description:hover .contatore-main .next, div.description:hover .contatore-main .prev {
    display: block;
}

@media (max-width:600px) {
    div.description .contatore-main {
        top: 155px;
        background: transparent;
    }
    div.description .contatore-main .next, div.description .contatore-main .prev {
        display: block !important;
        width: 30px;
        height: 30px;
        background-size: 30px;
    }
}
div.description .descrizione {
    position: relative;
    display: none;
    padding: 1em;
    border: 0px dashed #000;
    height: 100%;
    max-height: 560px;
    overflow-y: auto;
}
div.description .descrizione.regione{
    min-height: 400px;
}
div.description .descrizione.regione:before{
    content: attr(title);
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
     transform: translate(-50%,-50%);
    z-index: 100;
    font-family: "SolferinoDisplay", "title-regular", serif;
    font-size: 36px;
    line-height: 42px;
    color: #333;
    text-align: center;
    text-transform: uppercase;
}
@media (max-width:600px) {
div.description .descrizione.regione{
    min-height: auto;
}
    div.description .descrizione.regione:before{
        top: 150px;
        transform: translateX(-50%);
    }
}
div.description .testo a {
    color: inherit;
    font-weight: bold;
}
@media (min-width:900px) {
    div.description .descrizione {
        padding: 2em 38px 2em 76px
    }
}
div.description .descrizione:after,
div.description .descrizione:before {
    display: table;
    content: "";
    line-height: 0
}
div.description .descrizione:after {
    clear: both
}
div.description .descrizione.active {
    display: block
}
div.description .image {
    position: relative;
    float: left;
    width: 200px;
    top: 5px;
}

div.description .image img {
    width: 100%;
    height: 200px;
    object-fit: cover;    
}
div.description .titolo {
    font-family: title-regular, serif;
    font-size: 1.2em;
    line-height: 1.5em;
    color: #333;
    padding-bottom: 10px;
    margin-bottom: 15px;
    border-bottom: 1px solid #ccc;    
}
@media screen and (min-width:600px) {
    div.description .titolo {
        margin-left: 220px;
    }
}
@media screen and (min-width:901px) {
    div.description .titolo {
        margin-left: 270px;
    }
}
div.description .nome {
    position: relative;
    font-family: "SolferinoDisplayHeavy", "SolferinoDisplay", "title-regular", serif;
    font-size: 24px;
    line-height: 30px;
}
@media screen and (min-width:600px) {
    div.description .nome {
        text-indent: 20px;
    }
    div.description .nome:before {
        content: "";
        display: block;
        position: absolute;
        top: 9px;
        left: 0;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: #333;
    }
}
div.description .testo {
/*    position: relative;
    z-index: 100;
    background: #fff;*/
    padding: 0;
    font-family: title-regular, serif;
    font-size: 18px;
    line-height: 26px;
    margin-left: 270px;
    padding-right: 10px;
}
div.description .firma {
    display: block;
    margin: 10px 0 50px 0;
    font-family: main-condensed_regular, sans-serif;
    font-size: 14px;
    line-height: 26px;
    color: #29abef;
    font-style: italic;
}
div.description .descrizione .eta, div.description .descrizione .comune {
    display: inline-block;
    padding: 0;
    font-family: "SolferinoDisplay", "SolferinoDisplay", "title-regular", serif;
    font-size: 16px;
}

@media (max-width:900px) {
    div.description .testo {
        margin-left: 220px;
    }
}

@media (max-width:600px) {
    div.description .image {
        width: 100%;
        float: none;
        width: 120px;
        height: 120px;
        margin: 10px auto 25px auto;
    }
    div.description .image img {
        width: 100%;
        height: 100%;
    }
    div.description .titolo {
        text-align: center;
        margin: 20px 0 0 0;
        padding-bottom: 0;
        border: 0;
        text-indent: 0;
    } 
    div.description .eta, div.description .comune {
        font-family: Roboto, sans-serif;
    }
    div.description .firma,
    div.description .testo {
        font-family: Roboto, sans-serif;
        font-size: 18px;
        line-height: 26px;
        margin-left: 0;
        overflow-y: initial;
        max-height: none;
        margin-bottom: 10px;
    }
}




/* crediti */

.credit {
    position: relative;
    margin: 128px auto 0 auto;
    max-width: 800px;
    text-align: center;
}
.credit h2 {
    text-align: left;
    margin-bottom: 0;
    padding-top: 0
}
.credit p {
    margin-bottom: 10px;
    font-family: main-condensed_regular, sans-serif;
    font-size: 10px;
    padding-left: 27px;
}
.credit p strong {
    color: #12120f;
    display: block;
}
.credit p a {
    color: #12120f;
}
@media screen and (max-width:600px) {
    .credit {
        text-align: left;
    }
    .credit p {
        font-family: Roboto, sans-serif;
        max-width: 100%;
        padding: 0 10px;
    }
    .credit p strong {
        display: inline-block;
    }
}


/* torna su */

.cd-top {
    display: none;
    height: 40px;
    width: 120px;
    position: fixed;
    right: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .05);
    overflow: hidden;
    white-space: nowrap;
    background-color: #333;
    font-family: main-condensed_regular;
    color: #fff;
    text-align: center;
    line-height: 40px;
    text-decoration: none;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .3s 0s, visibility 0s .3s;
     transition: opacity .3s 0s, visibility 0s .3s
}
.cd-top:hover {
    background-color: #333 !important;
    opacity: 1 !important;
}
.cd-top.cd-fade-out,
.cd-top.cd-is-visible,
.no-touch .cd-top:hover {
    -webkit-transition: opacity .3s 0s, visibility 0s 0s;
     transition: opacity .3s 0s, visibility 0s 0s
}
.cd-top.cd-is-visible {
    z-index: 9;
    visibility: visible;
    opacity: 1;
}
.cd-top.cd-fade-out {
    opacity: .5
}

@media only screen and (min-width:768px) {
    .cd-top {
        display: block;
        right: 20px;
        bottom: 20px
    }
}
@media only screen and (min-width:1024px) {
    .cd-top {
        display: block;
        height: 40px;
        width: 120px;
        right: 30px;
    }
}

#container-pager {
    display: none;
}